# 忽略python文件
*.py
# 忽略jupyter
*.ipynb
# 忽略生成的exe
*.exe
# 忽略json
*.json
# 忽略python产生的文件夹
/nltk_data
# 忽略测试用cpp
test*.cpp
# 忽略Clion文件
.idea
# 忽略cmake
CMakeLists.txt
# 忽略备份文件
*.bak
# 忽略我用这个库做的作业
homework*.cpp
# 忽略我的bat批量编译
*.bat
# 忽略用来测试的文本文件
*.txt